.welcome-card{
    color:rgb(39, 132, 160);
    font-size:16px;
}

.title{
   color:white;
    background-color:lightskyblue;
    font-size: 16px;
    text-align: center;
}

.cardcontent{
    border-radius: 20px;
}
.contenido{
    color:rgb(39, 132, 160);
    margin-top:20px;
}