ion-content{

    .content{
        
        background: url("https://media.giphy.com/media/84fFptgxiU7cY/giphy.gif") no-repeat  ;  
        background-size:cover;
       
        display:flex;
        flex-direction: column;
        width:100%;
        height: 100%;
        justify-content:flex-start;
        align-items: center;
        
        .logo{
            background:url(../../../assets/logo/logo.png)  no-repeat;
            background-size:contain;
          
            min-height: 200px;
            min-width: 300px;
        }
    }

    .item{
        border-radius: 20px;
        border:solid 1px white;
    }
    .center{
       
        display:flex;
        flex-direction:column;
        max-width:400px;
      
       min-height: 500px;
        min-width: 300px;
        justify-content:space-around;
        align-items:center;
        
    }
}